i am unable to load my boston price prediction data set so instead of it i have predict it on another data set

In [ ]:
# 1. Create examples of zero vector, one vector, square matrix, diagonal matrix, identity matrix, and symmetricmatrix one by one, and represent vectors and matrices with NumPy.
import numpy as np

# Zero vector
zero_vector = np.zeros(5)
print("Zero vector:", zero_vector)

# One vector (all elements are 1)
one_vector = np.ones(3)
print("One vector:", one_vector)

# Square matrix
square_matrix = np.array([[1, 2, 3],
                         [4, 5, 6],
                         [7, 8, 9]])
print("Square matrix:")
print(square_matrix)

# Diagonal matrix
diagonal_matrix = np.diag([1, 2, 3])
print("Diagonal matrix:")
print(diagonal_matrix)

# Identity matrix
identity_matrix = np.identity(3)
print("Identity matrix:")
print(identity_matrix)

# Symmetric matrix
symmetric_matrix = np.array([[1, 2, 3],
                             [2, 4, 5],
                             [3, 5, 6]])
print("Symmetric matrix:")
print(symmetric_matrix)

Zero vector: [0. 0. 0. 0. 0.]
One vector: [1. 1. 1.]
Square matrix:
[[1 2 3]
 [4 5 6]
 [7 8 9]]
Diagonal matrix:
[[1 0 0]
 [0 2 0]
 [0 0 3]]
Identity matrix:
[[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
Symmetric matrix:
[[1 2 3]
 [2 4 5]
 [3 5 6]]

In [ ]:
#Q-2
import numpy as np

# Stock prices
p = np.array([1000000, 800000, 500000])

# Quantity of shares
n = np.array([3, 4, 5])

# Calculate the amount required to purchase stocks
amount = np.dot(p, n)

print("The total amount required to purchase the stocks is:", amount, "won")

The total amount required to purchase the stocks is: 8700000 won

In [ ]:
# Q-3
from sklearn.datasets import load_digits
X = load_digits().data

# Extract the first and tenth images
image1 = X[0]
image10 = X[9]

# Calculate the dot product
similarity = np.dot(image1, image10)

print("Similarity between the first and tenth image:", similarity)

Similarity between the first and tenth image: 2807.0

In [ ]:
X

array([[ 0.,  0.,  5., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ..., 10.,  0.,  0.],
       [ 0.,  0.,  0., ..., 16.,  9.,  0.],
       ...,
       [ 0.,  0.,  1., ...,  6.,  0.,  0.],
       [ 0.,  0.,  2., ..., 12.,  0.,  0.],
       [ 0.,  0., 10., ..., 12.,  1.,  0.]])

In [ ]:
image1

array([ 0.,  0.,  5., 13.,  9.,  1.,  0.,  0.,  0.,  0., 13., 15., 10.,
       15.,  5.,  0.,  0.,  3., 15.,  2.,  0., 11.,  8.,  0.,  0.,  4.,
       12.,  0.,  0.,  8.,  8.,  0.,  0.,  5.,  8.,  0.,  0.,  9.,  8.,
        0.,  0.,  4., 11.,  0.,  1., 12.,  7.,  0.,  0.,  2., 14.,  5.,
       10., 12.,  0.,  0.,  0.,  0.,  6., 13., 10.,  0.,  0.,  0.])

In [ ]:
image10

array([ 0.,  0., 11., 12.,  0.,  0.,  0.,  0.,  0.,  2., 16., 16., 16.,
       13.,  0.,  0.,  0.,  3., 16., 12., 10., 14.,  0.,  0.,  0.,  1.,
       16.,  1., 12., 15.,  0.,  0.,  0.,  0., 13., 16.,  9., 15.,  2.,
        0.,  0.,  0.,  0.,  3.,  0.,  9., 11.,  0.,  0.,  0.,  0.,  0.,
        9., 15.,  4.,  0.,  0.,  0.,  9., 12., 13.,  3.,  0.,  0.])

HOUSE PRICE PREDICTION

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [5]:
import pandas as pd

# Load the dataset
file_path = 'sample_submission.csv'
df = pd.read_csv(file_path)

# Inspect the DataFrame
print(df.head())
print(df.info())

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         1459 non-null   int64
 1   SalePrice  1459 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB
None

In [6]:
# Identify categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_columns)

Categorical columns: Index([], dtype='object')

In [7]:
numeric_columns = df.select_dtypes(include=['int64', 'float64']).columns

In [8]:
# Transform categorical columns using One-Hot Encoding
df_encoded = pd.get_dummies(df, columns=categorical_columns)

# Verify the transformation
print(df_encoded.head())
print(df_encoded.info())

     Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         1459 non-null   int64
 1   SalePrice  1459 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB
None

In [10]:
import pandas as pd

# Load the dataset
file_path = 'sample_submission.csv'
df = pd.read_csv(file_path)

# Inspect the DataFrame
print("DataFrame Head:\n", df.head())
print("DataFrame Info:\n", df.info())

# Identify categorical columns
categorical_columns = df.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_columns)

# Strip any whitespace from column names (if any)
df.columns = df.columns.str.strip()

# Transform categorical columns using One-Hot Encoding
df_encoded = pd.get_dummies(df, columns=categorical_columns)

# Verify the transformation
print("Transformed DataFrame Head:\n", df_encoded.head())
print("Transformed DataFrame Info:\n", df_encoded.info())

DataFrame Head:
      Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         1459 non-null   int64
 1   SalePrice  1459 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB
DataFrame Info:
 None
Categorical columns: Index([], dtype='object')
Transformed DataFrame Head:
      Id      SalePrice
0  1461  169277.052498
1  1462  187758.393989
2  1463  183583.683570
3  1464  179317.477511
4  1465  150730.079977
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         1459 non-null   int64
 1   SalePrice  1459 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB
Transformed DataFrame Info:
 None

In [13]:
X = df_encoded.drop("SalePrice",axis =1)
y = df_encoded["SalePrice"]

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [15]:
from sklearn.svm import SVR
svr = SVR(kernel = "linear")
svr.fit(X_train, y_train)
y_pred = svr.predict(X_test)

In [16]:
y_pred

array([180788.40810477, 176638.55063171, 181475.19494834, 180950.73954051,
       177708.2731699 , 176330.53713822, 180871.6549949 , 180313.90083101,
       176834.18082352, 180667.70011409, 180005.88733753, 179523.05537476,
       180151.56939527, 176759.25862241, 181279.56475653, 178777.9957081 ,
       181146.36973233, 180255.62800793, 177837.3058496 , 178682.26178444,
       180472.06992226, 177354.47388684, 182128.68303587, 181225.45427797,
       179431.48379564, 181283.72710105, 179568.84116434, 176509.51795202,
       180426.2841327 , 181187.99317741, 178986.11293342, 179697.87384405,
       177916.39039522, 179127.63264664, 178411.70939151, 182087.05959084,
       177025.64867081, 181287.88944557, 177300.36340826, 180596.94025745,
       181387.78571369, 180476.23226678, 176555.30374158, 177208.79182912,
       177441.88312148, 180238.97862989, 179997.56264853, 176397.13465033,
       177766.54599299, 181912.24112155, 178586.52786078, 180613.58963548,
       180026.69906006, 180892.46671743, 180422.1217882 , 177275.38934121,
       181079.77222023, 179643.76336544, 176376.3229278 , 180205.67987385,
       176596.92718665, 177421.07139894, 180122.43298372, 178178.61809915,
       180159.89408427, 180363.8489651 , 178403.3847025 , 180280.60207496,
       180214.00456285, 178107.85824253, 177595.88986822, 178836.26853118,
       179647.92570997, 181383.62336921, 176671.84938776, 179135.95733566,
       179194.23015875, 182153.65710292, 180384.66068762, 179289.96408241,
       179344.07456099, 176255.6149371 , 180879.97968391, 177237.92824065,
       178732.20991852, 178569.87848275, 179614.62695392, 181429.40915877,
       182099.54662434, 177375.28560937, 176621.90125368, 176189.017425  ,
       177287.87637474, 181258.75303402, 179860.20527979, 180355.52427609,
       180580.29087945, 179751.98432263, 179918.4781029 , 178657.28771739,
       177429.39608795, 176380.4852723 , 177737.40958145, 180338.87489805,
       181824.83188691, 177104.73321646, 181063.1228422 , 176609.41422016,
       180775.92107125, 180913.27843996, 177158.84369504, 178981.95058892,
       179006.92465594, 178415.87173601, 179535.54240829, 180463.74523325,
       181970.51394463, 178857.08025371, 176879.96661308, 176426.27106187,
       177433.55843248, 177874.76695017, 177512.64297809, 177250.4152742 ,
       181100.58394276, 179373.21097253, 179502.24365223, 181192.15552191,
       178969.46355539, 176626.06359819, 179618.78929842, 179443.97082915,
       179822.74417924, 176301.40072668, 180634.40135803, 182070.41021281,
       179410.67207309, 182053.76083478, 179369.04862802, 179843.55590176,
       178728.04757401, 178324.30015688, 180089.13422766, 179077.68451255,
       176542.81670806, 181471.03260385, 178249.37795576, 179169.25609171,
       176913.26536914, 178607.33958333, 180971.55126306, 176871.64192407,
       179144.28202467, 177933.03977325, 178370.08594643, 178869.56728723,
       178832.10618668, 180755.10934872, 181749.90968578, 180301.41379751,
       179281.6393934 , 181416.92212526, 180601.10260197, 178936.16479934,
       176567.7907751 , 179385.69800606, 179423.1591066 , 181304.5388236 ,
       177845.63053862, 180938.25250701, 177878.92929467, 180243.14097439,
       179102.6585796 , 176447.08278441, 178898.70369878, 181125.5580098 ,
       179897.66638037, 179418.9967621 , 181512.65604892, 176409.62168384,
       176767.58331142, 178553.22910472, 182191.1182035 , 178307.65077885,
       182082.89724631, 178016.28666338, 176984.02522575, 179622.95164292,
       180934.09016248, 178340.94953492, 178453.33283659, 176838.34316803,
       176967.37584772, 178644.80068388, 177138.03197251, 178166.13106563,
       176655.20000974, 181953.8645666 , 179119.30795763, 178619.82661685,
       178840.43087568, 180746.78465971, 181088.09690925, 176488.70622948,
       181092.25925375, 177254.57761868, 179298.28877141, 178790.48274162,
       178794.64508613, 182207.76758153, 178020.44900789, 180717.64824816,
       176538.65436355, 181937.21518857, 179027.73637848, 182224.41695953,
       180551.1544679 , 182220.25461503, 180859.16796138, 180076.64719414,
       179314.93814944, 180730.13528167, 177292.03871924, 179939.28982542,
       180805.0574828 , 176929.91474717, 177391.9349874 , 180642.72604703,
       179735.33494461, 180888.30437293, 181296.21413457, 178490.79393714,
       176676.01173227, 180809.2198273 , 179414.8344176 , 182120.35834686,
       177013.1616373 , 180359.68662059, 176388.80996132, 176950.72646971,
       180322.22552004, 177770.70833751, 181945.53987759, 177462.694844  ,
       181454.38322582, 181017.33705264, 179240.01594832, 181250.42834499,
       180484.55695579, 179190.06781424, 177783.19537102, 176730.12221085,
       180684.3494921 , 177000.67460378, 179826.90652374, 181903.91643252,
       182141.17006942, 176513.68029651, 177570.91580119, 178361.76125743,
       181812.34485339, 181583.41590553, 180380.49834313, 178594.85254981,
       182161.98179194, 181025.66174165, 179881.01700234, 178449.17049206,
       181437.73384779, 177471.01953303, 180767.59638222, 176226.47852555,
       177625.02627977, 176480.38154046, 177853.95522764, 177941.36446228,
       181217.12958895, 180405.47241016, 179631.27633195, 176854.99254606,
       176372.16058329, 178561.55379375, 176584.44015311, 179930.9651364 ,
       181516.81839342, 178723.88522952, 178203.59216618, 177341.98685332,
       182003.81270068, 176721.79752184, 180929.92781799, 181371.13633569])

In [17]:
submission = pd.DataFrame({"Id":range(len(y_pred)),
                         "SalePrice": y_pred})

In [18]:
submission

      Id      SalePrice
0      0  180788.408105
1      1  176638.550632
2      2  181475.194948
3      3  180950.739541
4      4  177708.273170
..   ...            ...
287  287  177341.986853
288  288  182003.812701
289  289  176721.797522
290  290  180929.927818
291  291  181371.136336

[292 rows x 2 columns]